
 * { margin:0; padding:0; } 
html, body { width:100%; height:100%; font-family: "Verdana", sans-serif;}

body {
	margin:0;
	padding:0;
}
#commandToolsWrapper{
	float:left;
	width:200px;
	/* margin-top:50px; */
	
	/* width: 12%; */
	width: 140px;
	height:40px;
	
}

#canvas{
	/*
	height: 900px;
	width: 1024px; */
}

#canvasWrapper{
	float:left;
	/* border:1px solid #ddd; */
	margin:0;
	padding:0;
	margin-top:0px;
	/*
	margin-left:55px;
	margin-top:60px
	*/
	/*width : 80%; */
	
}


#containerWb{
	margin:0;
	padding:0;
}

#container{
	/*margin-left:25px;*/
}

#canvas2{
	border :2px solid green;
	width:900px;
	display:block;		
}
 		
 		
#canvas{
	border:1px solid black;
	display:block;
}

#qunit{
	/*clear:both;*/
}

/*
#sendPackCont, #receivePackCont{
	border: 2px solid #DDDDDD;
    margin-left: 5%;
    margin-top: 10px;
    width: 30%;
    padding:5px;
    float:left;
    height : 60px;	
}


#receivePackCont{
	float:right;
	margin-left: 0;
	margin-right:5%;
}

*/
.numbers{
	float:right;
	
}

/*
#totSendPackCont, #totReceivedPackCont{
	border-top:2px solid #ddd;
	padding:5px;
}

#sendPackPsCont, #receivePackPsCont{
	padding:5px;
}*/

#sendPackCont{
	/*padding:10px; */
}

/*
#informationCont{
	clear:both;
	margin-left:550px;
	margin-top:40px;
	width:auto;
} */


#informationCont{
	
}


#sentMsgInfo{
	border:2px solid #ddd;
	width:320px;
	height : 80px;
	margin-top:10px;
	margin-bottom:10px;
	
}

#rcvdMsgInfo{
	margin-top:10px;
	border:2px solid #ddd;
	width:320px;
	height : 80px;
}



#videos {
	width:100%;
	margin-top:20px;
	padding:15px;
	clear:both;
}

.canvasMsgBoxParent #videos{
	margin-top : -200px;
} 

#videos{

}

#localVideo{
	border:1px solid #b9b9b9;
	width:30%;
	
}

#remoteVideo{
	border:1px solid #b9b9b9;
	width:30%;
}

#remoteVideo2{
	border:3px solid green;
	width:30%;
	
}

#commandToolsWrapper a{
	padding-left:14px;
	padding-right:14px;
	float:left;
}
#commandToolsWrapper{
		width:96%;
}

#conControler{
	clear:both;
}

#vcanvas {
	position : absolute;
}

#containerWb{
	/*
	position:relative;
	bottom:140px;*/
	/*margin-top : -170px; */
}

.msgBoxWebRtc{
	width : 350px;
}

.msgBoxWebRtc p, .msgBoxCanvas p {
	border:2px solid #ddd;
	padding:5px;
}


#chormeWebrtcCont{
	position : absolute;
	right: 3%;
	top : 0%;
}

#chormeWebrtcContimg {
	background-image:url('../arrow-up.png');
	background-repeat : no-repeat;
	background-position : right top;
	height: 100px;	
}

#chormeWebrtcCont p{
	/*margin-top:5px;*/
	padding:10px;	
}


#fireFoxWebrtcCont{
	position : absolute;
	left: 14%;
	top : 13%;
}

#fireFoxWebrtcContimg{
	background-image:url('../arrow-up.png');
	background-repeat : no-repeat;
	background-position : left top;
	height: 100px;	
}

.msgBoxCanvas{
	width : 350px;
}


.msgBoxCanvasimg{
	background-image:url('../arrow-up.png');
	background-repeat : no-repeat;
	background-position : left top;
	height: 80px;
	clear:both;
	
}

#canvasDrawMsgContFirefox{
	position : relative;
	bottom:750px;
	left : 460px;
}



#canvasDrawMsgContChrome{
	position : relative;
	bottom:750px;
	left : 100px;
}

#containerWb{
	/* margin-top:20px; */
}

#canvasDrawArea{
	clear:both;
	position:relative;
	left : 400px;
	bottom :500px;
	font-size:50px;
	color:#ddd;
}

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 2;
  border-radius: 5px ;
  background: rgba(0,0,0,0.5);
}


/*
#errorWebRtc { */

.error{
	border:2px solid #ddd;
	width: 50%;
	padding:10px;
	margin-left:10%;
	margin-top:2%;
	height:100px;
}




/* HASAN CSS START HERE */
a, canavas{
	outline: none;
}

.clear{
	clear: both;
}


#commandToolsWrapper #t_line a img[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
		
#canvasWrapper canvas{
	height: 600px;
	}

#canvas{
	border:none;
	}

#vcanvas{
	position: relative;	
	}

#commandToolsWrapper{
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top, #f3f3f3 0%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f3f3f3 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f3f3f3 0%,#e7e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f3f3f3 0%,#e7e7e7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f3f3f3 0%,#e7e7e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
	padding-top: 8px;	
	padding-bottom: 0;
	padding-left: 4%;
	border-bottom: #aaaaaa 1px solid;
}

#commandToolsWrapper #t_line a, #commandToolsWrapper #t_rectangle a, #commandToolsWrapper #t_freeDrawing a, #commandToolsWrapper #t_oval a, #commandToolsWrapper #t_triangle a, #commandToolsWrapper #t_text a, #commandToolsWrapper #t_replay a, #commandToolsWrapper #t_activeall a, #commandToolsWrapper #t_clearall a, #commandToolsWrapper #t_connectionoff a,  #commandToolsWrapper #t_assign a{
	
	background-image: url(../images/border-img.png);
	background-position: right center;
	background-repeat: no-repeat;
	
		
}

#commandToolsWrapper #t_connectionoff a, #commandToolsWrapper #t_connectionon a{
	padding-top: 5px;
}

#commandToolsWrapper #t_assign a{
 	padding-top: 2px;
}


#canvasWrapper #canvas{
	width: 100% !important; 
	outline: none;
}

#canvasWrapper{
	width: 100%;
}

#t_assign.controlCmd{
	margin-left: 80%;
}

/* HASAN Video css */

#videos h4, #packetContainer h4, #informationCont h4{
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
	padding-left: 50px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top:#aaaaaa 1px solid;
	border-bottom: #aaaaaa 1px solid;
	font-family: Verdana;
	color:#595a5d;
	font-weight: 500;
}

#packetContainer h4, #informationCont h4{
	margin-top: 5px;
}

#videos{
	margin: 0px;
	padding: 0px;	
}

#localVideo, #remoteVideo {
	padding: 4px;
    width: 19%;
}

#videos #remoteVideo{
	margin-top: 10px; 
	margin-left: 3%;
}

#videos #localVideo{
	margin-left: 25%;
	margin-top: 8px;
}

.selfClear:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}	
.selfClear {
    display: inline-block;
}


/* HASAN Video css End */


/* HASAN Data Details css End */

#packetContainer{width: 50%; float: left;box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */}

#packetContainer #dataInformation, #packetContainer #sendPackCont, #packetContainer #receivePackCont{float: left; width: 170px; border:#aaaaaa 1px solid; margin-top: 10px;}

#packetContainer #dataInformation, #packetContainer #sendPackCont{border-right: none;}

#sentPacketsLabel, #sendPackPsCont, #totSendPackCont, #receivedPacketsLabel, #receivePackPsCont, #totReceivedPackCont, #blankDiv, #perSecData, #totalDataLabel{padding: 6px;}

#receivedPacketsLabel, #receivePackPsCont, #sentPacketsLabel, #sentPacketsLabel, #sendPackPsCont, #blankDiv, #perSecData{border-bottom:#aaa 1px solid;}




/* HASAN CSS END HERE */