 * { margin:0; padding:0; } 
html, body { width:100%; height:100%; }

body {
	margin:0;
	padding:0;
}
#commandToolsWrapper{
	float:left;
	width:200px;
	/* margin-top:50px; */
	margin-left: 17px;
	
	/* width: 12%; */
	width: 140px;
	height:40px;
	
}

#canvas{
	/*
	height: 900px;
	width: 1024px; */
}

#canvasWrapper{
	float:left;
	/* border:1px solid #ddd; */
	margin:0;
	padding:0;
	margin-left:45px;
	margin-top:50px;
	/*
	margin-left:55px;
	margin-top:60px
	*/
	/*width : 80%; */
	
}


#containerWb{
	margin:0;
	padding:0;
}

#container{
	/*margin-left:25px;*/
}

#canvas2{
	border :2px solid green;
	width:900px;
	display:block;		
}
 		
 		
#canvas{
	border:1px solid black;
	display:block;
}

#qunit{
	/*clear:both;*/
}

/*
#sendPackCont, #receivePackCont{
	border: 2px solid #DDDDDD;
    margin-left: 5%;
    margin-top: 10px;
    width: 30%;
    padding:5px;
    float:left;
    height : 60px;	
}


#receivePackCont{
	float:right;
	margin-left: 0;
	margin-right:5%;
}

*/
.numbers{
	float:right;
	
}

/*
#totSendPackCont, #totReceivedPackCont{
	border-top:2px solid #ddd;
	padding:5px;
}

#sendPackPsCont, #receivePackPsCont{
	padding:5px;
}*/

#sendPackCont{
	/*padding:10px; */
}

/*
#informationCont{
	clear:both;
	margin-left:550px;
	margin-top:40px;
	width:auto;
} */


#informationCont{
	
}


#sentMsgInfo{
	border:2px solid #ddd;
	width:320px;
	height : 80px;
	margin-top:10px;
	margin-bottom:10px;
	
}

#rcvdMsgInfo{
	margin-top:10px;
	border:2px solid #ddd;
	width:320px;
	height : 80px;
}



#videos {
	width:90%;
	margin-top:20px;
	padding:15px;
	clear:both;
}

.canvasMsgBoxParent #videos{
	margin-top : -200px;
} 

#videos{

}

#localVideo{
	border:3px solid navy;
	width:30%;
	
}

#remoteVideo{
	border:3px solid navy;
	width:30%;
}

#remoteVideo2{
	border:3px solid green;
	width:30%;
	
}

#commandToolsWrapper a{
	margin-left:18px;
	float:left;
}
#commandToolsWrapper{
		width:100%;
}

#conControler{
	clear:both;
}

#vcanvas {
	position : absolute;
}

#containerWb{
	/*
	position:relative;
	bottom:140px;*/
	/*margin-top : -170px; */
}

.msgBoxWebRtc{
	width : 350px;
}

.msgBoxWebRtc p, .msgBoxCanvas p {
	border:2px solid #ddd;
	padding:5px;
}


#chormeWebrtcCont{
	position : absolute;
	right: 3%;
	top : 0%;
}

#chormeWebrtcContimg {
	background-image:url('../arrow-up.png');
	background-repeat : no-repeat;
	background-position : right top;
	height: 100px;	
}

#chormeWebrtcCont p{
	/*margin-top:5px;*/
	padding:10px;	
}


#fireFoxWebrtcCont{
	position : absolute;
	left: 14%;
	top : 13%;
}

#fireFoxWebrtcContimg{
	background-image:url('../arrow-up.png');
	background-repeat : no-repeat;
	background-position : left top;
	height: 100px;	
}

.msgBoxCanvas{
	width : 350px;
}


.msgBoxCanvasimg{
	background-image:url('../arrow-up.png');
	background-repeat : no-repeat;
	background-position : left top;
	height: 80px;
	clear:both;
	
}

#canvasDrawMsgContFirefox{
	position : relative;
	bottom:750px;
	left : 460px;
}



#canvasDrawMsgContChrome{
	position : relative;
	bottom:750px;
	left : 100px;
}

#containerWb{
	margin-top:20px;
}

#canvasDrawArea{
	clear:both;
	position:relative;
	left : 400px;
	bottom :500px;
	font-size:50px;
	color:#ddd;
}

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 2;
  border-radius: 5px ;
  background: rgba(0,0,0,0.5);
}


/*
#errorWebRtc { */

.error{
	border:2px solid #ddd;
	width: 50%;
	padding:10px;
	margin-left:10%;
	margin-top:2%;
	height:100px;
}